.container{
    background-color: var(--bgSoft);
    border-radius: 0.825rem;
    height: 15rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.titulo h2{
    font-size: 1rem;
    font-weight: 450;
    color: var(--textSoft);
}

.icono{
    color: rgb(10, 239, 255);
    font-size: 1.25rem;
}

.ingreso{
    font-size: 2.5rem;
    align-self: center;
}

.cambio{
    align-self: center;
}

.cambioContainer{
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    margin-top: -1.25rem;
    border: solid #0763139d 0.1px;
    color: #2fce64d8;
    background-color: rgba(16, 100, 8, 0.459);
}
