.container {
    display: flex;
    gap: 3.125rem;
    margin-top: 3.125rem;
  }
  
  .infoContainer {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 1.25rem;
    border-radius: 0.675rem;
    font-weight: bold;
    color: var(--textSoft);
    height: max-content;
  }
  
  .imgContainer{
    width: 100%;
    height: 18.75rem;
    position: relative;
    border-radius: 0.675rem;
    overflow: hidden;
    margin-bottom: 1.25rem;
  }
  
  .formContainer {
    flex: 3;
    background-color: var(--bgSoft);
    padding: 1.25rem;
    border-radius: 0.675rem;
  }
  
  .form{
    display: flex;
    flex-direction: column;
  }
  
  .form input, .form textarea, .form select{
    padding: 1.25rem;
    border: 2px solid #2e374a;
    border-radius: 0.25rem;
    background-color: var(--bg);
    color: var(--text);
    margin: 0.675rem 0rem;
  }
  
  .form label{
    font-size: 0.75;
  }
  
  .contenedorBotones{
    display: flex;
    gap: 1.25rem;
  }
  .contenedorBotones button{
    flex: 1;
    padding: 1.25rem;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1.25rem;
  }

  .form textarea{
    resize: none;
  }